@page "/results"
@using TextLinesComparing.Library
@model ResultsModel

<div>
    <h1 class="display-4">Analysis Results</h1>
</div>
<hr>
<div class="d-grid gap-2">
    <a class="btn btn-primary" href="/">Return to the Home Page</a>
</div>
<hr>
<div>
    <h2 class="display-6">Uncommented Lines from All Files</h2>
    @foreach (LinesStorage @content_element in @Model.Artifacts.ContentFromSources)
    {
        <h4>Uncommented Lines From:</h4>
        <p class=".lead">"@content_element.Name"</p>
        <br>
        @foreach (KeyValuePair<int, string> @uncommented_line in @content_element.Content)
        {
            <p class='all'>@ResultsModel.GetLineInfo(uncommented_line);</p>
        }
        <br>
    }
</div>
<hr>
<div>
    <h2 class="display-6">Common Lines</h2>
    <br>
    @foreach (KeyValuePair<int, string> @element in @Model.Artifacts.CommonContentStorage.Content)
    {
        <p class='common'>@ResultsModel.GetLineInfo(element);</p>
    }
    <br>
</div>
<hr>
<div>
    <br>
    <h2 class="display-6">Unique Lines</h2>
    <br>
    @foreach (LinesStorage @content_element in @Model.Artifacts.UniqueContentRepository)
    {
        <h4>Unique Lines From:</h4>
        <p class=".lead">"@content_element.Name"</p>
        <br>
        foreach (KeyValuePair<int, string> @content_pair in @content_element.Content)
        {
            <p class='unique'>@ResultsModel.GetLineInfo(content_pair);</p>
        }
        <br>
    }
    <br>
</div>
<hr>
<div class="d-grid gap-2">
    <a class="btn btn-primary" href="/">Return to the Home Page</a>
</div>
